#sidebar-first .block.red {
  background-color: red;
}
#sidebar-first .block.blue {
  background-color: blue;
}
#sidebar-first .block.orange {
  background-color: orange;
}
#sidebar-second .block.red {
  background-color: red;
}
#sidebar-second .block.blue {
  background-color: blue;
}
#sidebar-second .block.orange {
  background-color: orange;
}